<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <br />
            <br />
            <br />
            <br />
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"><b>About</b></h3>
            <hr>
            <p>
              চাকরি পাওয়া একটি গুরুত্বপূর্ণ বিষয়। এটি একটি পেশা বা কাজ পাওয়ার সম্ভাবনা বাড়ায়। চাকরি করে কর্মীরা তাদের
              আর্থিক স্বাধীনতা অর্জন করতে পারে এবং সেই প্রতিষ্ঠানের সাথে তাদের কর্মসংস্থান এবং সম্পর্ক গড়ে তোলা হয়।
              চাকরি সংক্রান্ত জ্ঞান ও দক্ষতা উন্নয়ন করতে পারে এবং একজন সফল কর্মী হওয়া নিশ্চিত করতে পারে।
            </p>
            <p>
              চাকরি সম্পর্কে আরও বিস্তারিত বলতে গেলে, এটি কর্মীদের জীবনের একটি গুরুত্বপূর্ণ অংশ এবং এটি তাদের জীবনের
              একটি সামাজিক
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>