  <section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <br>
      <br>
      <br>
      <br>
      <br>
  
      <div class="container">
        <div class="jumbtron">
          <h1>Welcome to Employers Page</h1>
        
          <p><a href="" routerLink="../employers/post/adjobs" class="btn btn-success btn-lg glyphicon glyphicon-plus-sign" role="button" > <b style="font-family: Arial, Helvetica, sans-serif;"> Create Job</b> </a> </p>
          <p><a href="" routerLink="../employers/post/selfJobs" class="btn btn-success btn-lg glyphicon glyphicon-list-alt" role="button"> <b style="font-family: Arial, Helvetica, sans-serif;"> Job List</b></a> </p>
          <p><a href="" routerLink="../employers/post/candidateList" class="btn btn-success btn-lg glyphicon glyphicon-list-alt" role="button"> <b style="font-family: Arial, Helvetica, sans-serif;"> Candidate List</b></a> </p>
  
        </div>
  
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>