<!-- <app-nav-var></app-nav-var> -->

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <br>
      <br>
      <br>
      <br>
     

      <div class="container" >
      
  <div class="pull-right">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><b> Previous</b></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item ">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#"><b> Next</b></a>
        </li>
      </ul>
    </nav>
  </div>
  <h1>Accounting/Finance</h1>  

  <div *ngFor="let c of catList">

  <a href="">
    <div class="row" >
        <div class="col-md-8">
          <h3 ><a href=""><strong>{{c.catnames}}</strong></a></h3>
          <h4><b>{{c.paths}}</b></h4>
          <span class="glyphicon glyphicon-map-marker"><b style="font-family: Arial, Helvetica, sans-serif;"> Anywhere in Bangladesh</b></span><br>
          <span class="glyphicon glyphicon-education"> <b style="font-family: Arial, Helvetica, sans-serif;"> Masters in Computer Application (MCA)</b></span><br>
          <span class="glyphicon glyphicon-briefcase"> <b style="font-family: Arial, Helvetica, sans-serif;"> 2 to 5 year(s)</b></span>
          <br>
          <br>
        </div>
        <div class="col-md-4">
          <br>
          <br>
          <br>
          <p><a href="" class="btn btn-success btn-lg pull-right" role="button"> Apply</a> </p>
        </div>
      </div>
</a>




</div>








  <!-- 3rd row -->

<a href="">
    <div class="row" >
        <div class="col-md-8">
          <h3 ><a href=""><strong>Software Developer</strong></a></h3>
          <h4><b>Mettro Express</b></h4>
          <span class="glyphicon glyphicon-map-marker"><b style="font-family: Arial, Helvetica, sans-serif;"> Anywhere in Bangladesh</b></span><br>
          <span class="glyphicon glyphicon-education"> <b style="font-family: Arial, Helvetica, sans-serif;"> Masters in Computer Application (MCA)</b></span><br>
          <span class="glyphicon glyphicon-briefcase"> <b style="font-family: Arial, Helvetica, sans-serif;"> 2 to 5 year(s)</b></span>
          <br>
          <br>
        </div>
        <div class="col-md-4">
          <br>
          <br>
          <br>
          <p><a href="" class="btn btn-success btn-lg pull-right" role="button"> Apply</a> </p>
        </div>
      </div>
</a>

  <!-- 4th row -->



  <!-- 6th row -->
<a href="">
    <div class="row">
        <div class="col-md-8">
          <h3 ><a href=""><strong>Software Developer</strong></a></h3>
          <h4><b>Mettro Express</b></h4>
          <span class="glyphicon glyphicon-map-marker"><b style="font-family: Arial, Helvetica, sans-serif;"> Anywhere in Bangladesh</b></span><br>
          <span class="glyphicon glyphicon-education"> <b style="font-family: Arial, Helvetica, sans-serif;"> Masters in Computer Application (MCA)</b></span><br>
          <span class="glyphicon glyphicon-briefcase"> <b style="font-family: Arial, Helvetica, sans-serif;"> 2 to 5 year(s)</b></span>
          <br>
          <br>
        </div>
        <div class="col-md-4">
          <br>
          <br>
          <br>
          <p><a href="" class="btn btn-success btn-lg pull-right" role="button"> Apply</a> </p>
        </div>
      </div>
</a>

        <div class="pull-right" >
          <nav aria-label="..." >
            <ul class="pagination" >
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><b>Previous</b></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item ">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><b> Next</b></a>
              </li>
            </ul>
          </nav>
        </div>
  
      </div>
   <br>
   <br>
      
    </div>
  </section>