<!-- <app-nav-var></app-nav-var> -->

<section class="h-100 h-custom" style="background-color: #8fc4b7">
  <!-- <div class="col-md-2">
    <img src="../../assets/02.png" alt="" width="350px" height="500px" style="margin-top: 170px; ">
  </div> -->

  <div class="container py-5 h-100">
    <br />
    <br />
    <br />
    <br />
    <br />

    
    <div class="container">
      <h2><span class="c"></span> Browse Category</h2>

      <div class="row" >

        <div class="col-md-4">
          <h4>
            <a routerLink="/post/Account-Finance">
              <span class="glyphicon glyphicon-triangle-right"></span
              >Accounting/Finance (337)</a
            >
          </h4>
        </div>


        <div class="col-md-4">
          <h4>
            <a routerLink="/post/Production-Operation">
              <span class="glyphicon glyphicon-triangle-right"></span
              >Production/Operation (155)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span>Agro
              (Plant/Animal/Fisheries) (65)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span>Bank/
              Non-Bank Fin. Institution (50)</a
            >
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span
              >Hospitality/ Travel/ Tourism (117)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span
              >NGO/Development (233)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span>Supply
              Chain/ Procurement (114)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span>Commercial
              (73)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span
              >Research/Consultancy (8)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Education/Training (283)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span>Beauty
              Care/ Health & Fitness (14)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Secretary/Receptionist (76)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Engineer/Architects (369)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span>IT &
              Telecommunication (427)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span>Data
              Entry/Operator/BPO (45)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Garments/Textile (403)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Marketing/Sales (750)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Driving/Motor Technician (13)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span>HR/Org.
              Development (148)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span>Customer
              Service/Call Centre (128)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Security/Support Service (28)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span>Gen
              Mgt/Admin (148)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Media/Ad./Event Mgt. (46)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span>Law/Legal
              (29)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Design/Creative (77)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Medical/Pharma (229)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href=""
              ><span class="glyphicon glyphicon-triangle-right"></span
              >Electrician/ Construction/ Repair (17)</a
            >
          </h4>
        </div>

        <div class="col-md-4">
          <h4>
            <a href="">
              <span class="glyphicon glyphicon-triangle-right"></span>Others
              (33)</a
            >
          </h4>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <h2> স্পেশাল স্কিল্‌ড জব্‌স</h2>

      <div class="row">
        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ডাটা এন্ট্রি/কম্পিউটার অপারেটর (৩৬)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ইলেকট্রিশিয়ান/ইলেকট্রনিকস্ টেক. (২২)</a></h4>
        </div>
        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>প্যাথলজিস্ট/ল্যাব সহকারী (২২)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>মেকানিক/টেকনিশিয়ান (৫৯)</a></h4>
        </div>
        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ড্রাইভার (২৩)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>সিকিউরিটি গার্ড (২৩)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>নার্স (২৪)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>শেফ/বাবুর্চী (২৪)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""> <span class="glyphicon glyphicon-triangle-right"></span>ওয়েটার/ওয়েট্রেস (৮)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ডেলিভারী ম্যান (২৮)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>পিয়ন (৪৭)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>শো-রুম সহকারী/সেলসম্যান (২২)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>গ্রাফিক্স ডিজাইনার (৪৬)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>সেলস রিপ্রেজেন্টেটিভ/বিক্রয় প্রতিনিধি (৬০)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>অন্যান্য (৩৭)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>CAD অপারেটর (৩)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>কার্পেন্টার (৩)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ওয়েল্ডার (১)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>HR/Org. Development (148)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>Customer Service/Call Centre (128)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""> <span class="glyphicon glyphicon-triangle-right"></span>Security/Support Service (28)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""> <span class="glyphicon glyphicon-triangle-right"></span>প্লাম্বার/পাইপফিটিং (২)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>হাউজকিপার (৫)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>গার্মেন্টস টেকনিশিয়ান (৬)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>রাজমিস্ত্রি/নির্মাণ কর্মী (১)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>স্যুইং মেশিন অপারেটর (১)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ক্লিনার (১২)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>মালী (৫)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>জিম/ ফিটনেস ট্রেইনার (৪)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>বিউটিশিয়ান/ সেলুন (১৪)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ইমাম/ খতিব/ মুয়াজ্জিন (৩)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ইন্টারপ্রিটার/ দোভাষী (৩)</a></h4>
        </div>

        <div class="col-md-4">
          <h4><a href=""><span class="glyphicon glyphicon-triangle-right"></span>ফায়ার সেফটি/ ফায়ারফাইটার (৪)</a></h4>
        </div>
      </div>
    </div>

    <br />
    <br />
  </div>
</section>
